body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url(img/leopard\ back.jpg);
    box-sizing: border-box;
    font-family: cursive;
    color: hotpink;
}
/*Nav bar stars here*/
.navbar{
    background-color: rgb(28, 110, 28);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(199, 108, 153);
}
li {
    float: left;
  }
li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 15px;
}
li a:hover {
    color: gray;
    text-decoration: none;
} */
/*Nav bar ends here*/

.content-section {
    margin: 3em;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1.5em;
    text-align: center;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #8f3f6e;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(15, 13, 14);
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #8f3f6e;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 150px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #8f3f6e;
    font-size: 20px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2 {
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #990e04;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #516d7a;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}