
header {
    background-color: rgb(28, 110, 28);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
  }
  
a {
    display: block;
  }
li a {
    color: rgb(8, 4, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    padding: 15px;
}
li a:hover {
    color: gray;
    text-decoration: none;
}

div#message1 {
    background-color: rgb(209, 196, 9);
    height: 20%;
    padding: 15px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family:cursive;
    border: black dotted 3px;
}
div.showme {
    display: block;
}
div.hideme {
    display: none;
}
body {
    background-color: rgb(194, 221, 152) ;

}
.tittle {
    color: darkgreen;
    font-size: 80px;
    text-align: center;
}
.mainpic {
    border: darkgreen 2pc groove;
  
}
.row2 img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.row3, h2{
    text-align: center;
    color: darkgreen;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.row5 img {
    width: 30%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row4 {
   text-align: center;
}
.carousel {
    width: 50%;
    height: 40%;

}
.dose {
    text-align: center;
    color: darkgreen;
    font-size: 40px;
}

