header {
    background-color: rgb(219, 137, 194);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
  }
  
a {
    display: block;
  }
li a {
    color: rgb(61, 24, 3);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    padding: 15px;
}
li a:hover {
    color: rgb(192, 3, 129);
    text-decoration: none;
    background-color: rgb(240, 180, 232);
}

div#message1 {
    background-color: rgb(209, 196, 9);
    height: 50%;
    padding: 15px 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family:cursive;
    border: black dotted 3px;
}
div.showme {
    display: block;
}
div.hideme {
    display: none;
}