body {
    background-image: url(img/dogbones.jpg);
    background-repeat: none;
    background-size: cover;
}
.row1 {
    background-color: hotpink;
    height: 150px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.tittle {
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 100px;
}
.row2 {
    background-color: pink;
    width: 80%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.poddle {
width: auto;
height: 450px;
}
.row3 {
    background-color: white;
    width: 60%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}